.container{
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal-box{
  position: fixed;  
  top: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background: rgba(181,9,9, 0.7);
  opacity: 0;
  z-index: 9999;
  display:none;
  pointer-events: none;
  transition: opacity 400ms ease-in;
}

.modal-box:target{
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modal-box .close{
  
  color: #FFF;
  text-decoration: none;
  font-size: 32px;
}